<footer>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <div class="row">

                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color:white">
                    <h4> &copy; 2022 - Lanches.MVC</h4>
                    <p class="text-justify">
                        Aqui você encontra aquele lanche saboroso que da água na boca.
                        Aquela sobremesa deliciosa para acompanhar com sua bebida favorita.
                        E se você é vegetariano também vai encontrar o seu lanche.
                    </p>
                </div>

                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color:white">
                    <h4>Tem alguma dúvida?</h4>
                    <ul class="list-unstyled">
                        <li class="py-1"> Av. Paraná, 4040</li>
                        <li class="py-1"> (44) 99999-9999</li>
                        <li class="py-1"> <a href="tiago_rv0@hotmail.com" style="color:yellow">tiago_rv0@hotmail.com</a></li>
                    </ul>
            </div>
        </div>
    </nav>
</footer>